# Definición de funciones Lambda
# getConfig: PÚBLICO - no requiere autenticación (para que el frontend obtenga UserPoolId, ClientId)
getConfig:
  handler: src/getConfig.getConfig
  events:
    - httpApi:
        path: /config
        method: get

# Endpoints protegidos con Cognito
createCar:
  handler: src/createCar.addCar
  events:
    - httpApi:
        path: /
        method: post
        authorizer:
          name: cognitoAuth

getCars:
  handler: src/getCars.getCars
  events:
    - httpApi:
        path: /
        method: get
        authorizer:
          name: cognitoAuth

getCar:
  handler: src/getCar.getCar
  events:
    - httpApi:
        path: /{id}
        method: get
        authorizer:
          name: cognitoAuth

updateCar:
  handler: src/updateCar.updateCar
  events:
    - httpApi:
        path: /{id}
        method: put
        authorizer:
          name: cognitoAuth

deleteCar:
  handler: src/deleteCar.deleteCar
  events:
    - httpApi:
        path: /{id}
        method: delete
        authorizer:
          name: cognitoAuth
